#hide secrets
secrets/*

#temporarily hide environment files
.env
acme.json
template.compose.yaml
compose/caddy/*
database

#postgres
compose/postgresql/.pgadmin
compose/filebrowser/data/tmp/*
compose/copyparty/*
.gitignore
compose/copyparty/*
compose/filebrowser/*
compose/filestash/*

compose/immich/bup*
template.compose2.yaml
compose/vpn/config.toml
