DOCKER_HOST ='tcp://socket-proxy:2375'
#Secrets
AUTHENTIK_SECRET_KEY='file:///run/secrets/authentik_secret_key'
AUTHENTIK_POSTGRESQL__PASSWORD='file:///run/secrets/authentik_pg_password'
AUTHENTIK_EMAIL__PASSWORD='file:///run/secrets/smtp_password'

#SMTP/EMAIL
AUTHENTIK_EMAIL__HOST=''
AUTHENTIK_EMAIL__PORT='465'
AUTHENTIK_EMAIL__USERNAME=''
AUTHENTIK_EMAIL__USE_TLS='false'
AUTHENTIK_EMAIL__USE_SSL='true'
AUTHENTIK_EMAIL__TIMEOUT='10'
AUTHENTIK_EMAIL__FROM=''

#Postgres/Database
AUTHENTIK_POSTGRESQL__HOST='postgres' #Hostname or IP address of your PostgreSQL server.
AUTHENTIK_POSTGRESQL__PORT='5432'  #Port on which PostgreSQL is listening. Defaults to the standard PostgreSQL port 5432.
AUTHENTIK_POSTGRESQL__USER='authentik' #Username that authentik will use to authenticate with PostgreSQL.
AUTHENTIK_POSTGRESQL__NAME='authentik' #The name of the database for authentik to use.